.passwordContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px;
	margin: 10px;
}

.inputPassword {
	padding: 10px;
	margin: 5px 0px;
	border-radius: 6px;
}
