@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

textarea {
	font: 15px "Gloria Hallelujah", cursive;
	line-height: 1.5;
	border: 0;
	border-radius: 3px;
	background: linear-gradient(#f9efaf, #f7e98d);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: box-shadow 0.5s ease;
	max-width: 95%;
	max-height: 30%;
	padding: 10px;
}

textarea:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
}
